{{ define "title" }}
    {{ .Site.Title }} | {{ .Title }}
{{ end }}
{{ define "main" }}
<div class="article-title-box">
    <h1 class="article-title">{{ .Title }}</h1>
    <p class="article-subtitle">{{ .Params.subtitle }}</p>
    {{ if isset .Params "code_stub_url" }}
    <a href="{{ .Params.code_stub_url }}" class="code-stub-button" download>Code à compléter</a>
    {{ end }}
</div>
<div class="article-container">
    <aside class="toc">
        <div class="toc-title">Table des matières</div>
        {{ .TableOfContents }}
    </aside>
    <article class="container">
        <div class="content">
            {{ .Content }}
        </div>
    </article>
</div>
{{ end }}
