<header class="site-header">
    <a href="/" class="header-home-link">
        <img src="/gcc-logo.svg" alt="Girls Can Code! Logo">
        <h1 class="site-title">{{ .Site.Title }}</h1>
    </a>
    <ul>
    {{ range .Site.Menus.header }}
        <li>
                <a href="{{ .URL }}" class="header-home-link">
                    <h1 class="header-menu">{{ .Name }}</h1>
                </a>
        </li>
    {{ end }}
    </ul>
</header>
